body {
  margin: 0;
  padding: 0;
  background: #1B1C31;
}

#root {
  width: 100%;
  display: flex;
}

section {
  width: 100%;
  margin-left: 60px;
}

p, h1, h2, a, span {
  margin: 0 ;
  padding: 0;
  background-color: none;
  border: none;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}